.imgsrc {
    border-radius: 8px;
    top: 8px;
    left: 16px;
    font-size: 18px;
    width: 300px;
}

.aboutMeContainer {
    display: flex;
    align-items: center;
}

.biograph {
    padding-left: 1%;
    font-size: 32px;
}